<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("head");%>
    <title><%=data.title%>></title>
</head>
<body>
<%- include("header")%>
<div class="main-content">
    <div class="node">
        <h1 class="pretty-text highlighted-text"><%=data.title%></h1>
        <h3 class="pretty-text casual-text" style="margin-bottom: 4rem;"><%=data.text%></h3>
    </div>
</div>

<%- include("footer")%>
</body>
</html>